body{
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightgray;
}

#paragraph-result{
    margin-top: 40px;
}

input {
    width: 100px;
}

label { 
    font-family: 'Courier New', Courier, monospace;
}